.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 5px;
    font-weight: 600;
    outline: none !important;
    transition: .2s all;
    text-transform: capitalize;
    &.btn-default {
        background: linear-gradient(90deg, rgba(62,186,214,1) 0%, rgba(18,165,199,1) 35%, rgba(10,142,173,1) 100%);
        color: #fff;
        border: none;
        // border: 1px solid #e9b11c;
        padding: 10px 30px 8px;
        font-size: 13px;
        font-weight: 400;
        &:hover {
            filter: brightness(90%);
        }
    }
    &.btn-secondary {
        background: linear-gradient(90deg, rgba(251, 166, 9, 1) 0%, rgba(245, 136, 72, 1) 35%, rgba(239, 99, 67, 1) 100%);
        color: #fff;
        border: none;
        // border: 1px solid #e9b11c;
        padding: 10px 30px 8px;
        font-size: 13px;
        font-weight: 400;
        &:hover {
            filter: brightness(90%);
        }
    }
}

.pagination-custom{
    display: flex;
    align-items: center;
    svg{
        width: 20px;
        margin: 0 12px;
        cursor: pointer;
        path{
            fill: $gray;
        }
        &:hover{
            path{
                fill: $light-blue;
            }
        }
        &.next{
            transform: rotate(180deg);
            margin-left: 5px;
            margin-right: 10px;
        }
    }
}

.btn-pagination{
    font-size: 12px;
    width: 25px;
    height: 25px;
    padding: 5px 0 4px;
    text-align: center;
    border: 1px solid #e4e4e4;
    border-radius: 50%;
    background: #ebebeb;
    color: #646464;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0 2px 4px rgba(255, 255, 0255, 0.15);
    margin-right: 2px;
    transition: .2s all;
    cursor: pointer;
    &:last-child{
        margin-right: 0;
    }
    &:hover{
        background: linear-gradient(90deg, rgba(62,186,214,1) 0%, rgba(18,165,199,1) 35%, rgba(10,142,173,1) 100%);
        color: #fff;
    }
    &.active{
        background: linear-gradient(90deg, rgba(62,186,214,1) 0%, rgba(18,165,199,1) 35%, rgba(10,142,173,1) 100%);
        color: #fff;
    }
    &.last{
        border-radius: 3px;
        width: auto;
        padding: 5px 12px 4px;
        background: linear-gradient(90deg, rgba(62,186,214,1) 0%, rgba(18,165,199,1) 35%, rgba(10,142,173,1) 100%);
        color: #fff;
    }
    &.btn-dots{
        &:hover{
            background: #ebebeb;
            color: #646464;
            cursor: default;
        }
    }
}