.c-table-wrapper {
  .c-table-utility {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-bottom: 18px;
    button:not(:first-child) {
      margin-left: 8px;
      vertical-align: middle;
    }
  }

  .table-responsive {
    overflow: auto;

    .table-bordered {
    }
    table {
      margin-bottom: 0;
      width: 100%;
      thead {
        &:first-child {
          tr {
            background-color: rgb(222 232 237);
            // background-color: rgb(42 152 205 / 12%);
            th {
              color: #0b6b99;
              padding: 12px 12px;
              border: none;
              vertical-align: middle;
              text-align: center;
              white-space: break-spaces;
              min-width: 40px;
              cursor: pointer;
              font-size: 11px;
              letter-spacing: 1px;
              text-transform: uppercase;
              font-weight: 700;
            }
          }
        }
      }
      tbody {
        tr {
          cursor: default;
          &:nth-child(odd) {
            background-color: rgb(193 216 227 / 12%);
          }
          td {
            padding: 4px 12px;
            border: none;
            color: #646464;
            font-size: 13px;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            .nodata {
              width: 100%;
              text-align: center;
              color: $gray;
              text-transform: uppercase;
              font-size: 13px;
              letter-spacing: 1px;
              padding: 10px;
            }
            &.ws-normal {
              white-space: normal;
              min-width: 330px;
            }
            i {
              font-size: 18px;
              color: #e7e4e4;
              cursor: pointer;
            }
            .c-table-action-wrapper {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 100%;

              button {
                position: relative;
                width: 32px;
                height: 30px;

                &:not(:first-child) {
                  margin-left: 4px;
                }

                span {
                  color: #979797;
                  font-size: 15px;
                  padding-left: 9px;
                  &:last-child {
                    margin-right: 0;
                  }
                }
                svg {
                  width: 22px;
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  path,
                  rect,
                  polygon {
                    stroke: #fff;
                  }
                }
                i {
                  font-size: 14px;
                  color: #fff;
                }
              }
            }
            .status {
              font-size: 10px;
              padding: 7px 10px 5px;
              border-radius: 8px;
              text-transform: uppercase;
              display: inline-block;
              vertical-align: middle;
              &.status-pending {
                background-color: #ffdfb8;
                color: #ffaf4e;
              }
              &.status-success {
                background-color: #d0f4e8;
                color: #37ad89;
              }
              &.status-fail {
                background-color: #ffe1e8;
                color: #c26678;
              }
              &.status-onprogress {
                background-color: #d6d0f4;
                color: #8037ad;
              }
              &.status-user {
                background-color: #e5f0ff;
                color: #7592d9;
                margin-bottom: 5px;
                margin-right: 1px;
              }
              &.js-toggle-status {
                cursor: pointer;
              }
            }
          }
          &:hover,
          &.selected {
            background-color: #fff;
          }
          &:nth-child(odd) {
          }
        }
      }
      .flex-role-wrapper {
        display: flex;
        flex-wrap: wrap;
        .role-item {
          padding: 3px;
          flex-grow: 0;
          max-width: 100%;
          flex-basis: 25%;
          .role-item-circle {
            font-size: 10px;
            font-family: "Raleway", sans-serif;
            letter-spacing: 1px;
            padding: 6px 10px;
            border-radius: 8px;
            text-transform: uppercase;
            &.role-user {
              background-color: #d0f4e8;
              color: #37ad89;
            }
            &.role-admin {
              background-color: #ffe1e8;
              color: #c26678;
            }
            &.page-create-payment {
              background-color: #e5f0ff;
              color: #7592d9;
            }
            &.page-report {
              background-color: #ffdfb8;
              color: #ffaf4e;
            }
            &.page-template-form {
              background-color: #d6d0f4;
              color: #8037ad;
            }
          }
        }
      }
    }
  }
}

.custom-table,
.custom-table2,
.custom-table3,
.custom-table4 {
  th {
    background-color: #ebebeb;
    &:first-child {
      background-color: transparent;
    }
  }
  .td-custom {
    font-size: 13px;
    font-weight: 600;
    text-align: left !important;
  }
  tbody {
    tr {
      td {
        .form-control {
          text-align: right !important;
          min-width: 90px;
        }
      }
      &:last-child {
        background-color: #fff2c8;
        &:hover {
          background-color: #fff2c8 !important;
        }
      }
    }
  }
}
.custom-table2 {
  tbody {
    tr {
      &:last-child {
        background-color: transparent;
        &:hover {
          background-color: #fff !important;
        }
      }
    }
  }
}

.custom-table3,
.custom-table4 {
  th {
    background-color: #ebebeb;
    &:first-child {
      background-color: #ebebeb;
    }
  }
}

.custom-table4 {
  th,
  td {
    font-size: 11px !important;
    white-space: nowrap !important;
  }
  tbody {
    tr {
      background-color: #f3ecd6;
      &:hover {
        background-color: #fff !important;
      }
      &:last-child {
        background-color: #f3ecd6 !important;
        &:hover {
          background-color: #fff !important;
        }
      }
    }
  }
}
