.c-form-group-floating {
  position: relative;

  &.inc-img {
    > .c-form-control,
    > .c-form-control-mask {
      height: $c-form-floating-height + px;
      padding: $c-form-floating-inc-img-padding;
      text-overflow: ellipsis;
    }
  }

  > .c-form-control {
    position: relative;
    height: $c-form-floating-height + px;
    background-color: transparent;
    z-index: 1;

    &:focus ~ .c-control-label-wrapper > .c-control-label {
      @include focused-label();
    }
  }

  > .c-form-control {
    &::placeholder {
      color: transparent;
    }
  }

  > .c-control-label-wrapper {
    @include absolute();
    display: flex;
    align-items: center;
    height: $c-form-floating-height + px;
    padding-left: $c-form-floating-padding-left + px;

    > .c-control-label {
      margin-left: -6px;
      padding: 0 6px;
      background-color: $c-input-bg;
      color: $c-input-color;
      font-size: $c-input-font-size;
      line-height: normal;
      transform: translateY(0);
      transition: 0.2s all ease;
    }
  }

  > .c-form-control:not(:placeholder-shown)
    ~ .c-control-label-wrapper
    > .c-control-label {
    @include focused-label();
  }
}

.c-form-bottom-animation {
  position: relative;
  border-bottom: 1px solid $c-input-border-color;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 1px;
    background: linear-gradient(
      129deg,
      rgba(83, 151, 169, 0.87) 0%,
      rgb(23 140 187 / 90%) 80%,
      rgb(15 112 169 / 85%) 100%
    );
    transform: scaleX(0);
    transition: transform 0.2s cubic-bezier(0.76, 0.33, 0.28, 1.01);
  }

  &:has(> input:focus)::after {
    transform: scaleX(1);
  }

  > .c-form-control {
    padding-left: 0;
    border: none;
    border-radius: 0;
  }

  > .c-control-label-wrapper {
    padding-left: 0;
  }
}
